<config
	lang="fr"
	langs="fr"

	host="app.cagette"
	name = "Cagette.net"
	default_email = "noreply@cagette.net"
	webmaster_email = "mon_email@mon_domaine.fr"
	
	database="mysql://root:root@localhost/cagette"
	sqllog="0"
	
	debug="0"
	cache="1"
	maintain="0"
	cachetpl="0"
	key="carotteMagique"
	
	smtp_host="smtp.mandrillapp.com"
	smtp_port="587"
	smtp_user="mon_email@mon_domaine.fr"
	smtp_pass="blabla"

	mt.net.form.Form.HTML5 = "1"
	mt.net.form.Form.USE_TWITTER_BOOTSTRAP = "1"
	
	google_geocoding_key="blabla"
/>